body {
  text-align: center;
  background-image: url("https://cdn.wallpapersafari.com/72/16/VIGDOZ.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 100px;
}
.box {
/*   background-color: #0c3363; */
  background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
  background-size: cover;
  color: #111214;
  padding-top: 90px;
  padding-bottom: 100px;
  border: 5px solid;
  margin-left: 260px;
  margin-right: 260px;
  border-radius: 10px;
}
#stylish {
  font-family: fantasy, monospace;
}
.mail {
  font-size: 22px;
  font-family: fantasy;
  text-decoration: underline;
}
.head{
  font-size: 60px;
  color: black;
  font-family: serif;
}
#sub {
  width: 170px;
  height: 30px;
}